*{
    user-select: none;
}

body{
    padding: 0;
}

.xui-100-100{
    width: 100vw;
    height: 100vh;
}

.xui-flex{
    display: flex;
    flex-direction: row;
}

.xui-flex-column{
    flex-direction: column;
}

.xui-form{
    width: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.xui-form>div{
    padding: 20px;
    display: flex;
}

.xui-form>.xui-form-title{
    border-bottom: 1px solid;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xui-form>.xui-form-title>h2{
    margin: 0;
}

.xui-form>.xui-form-title>.xui-form-close{
    width: 20px;
    height: 20px;
}

.xui-form>.xui-form-input{
    display: flex;
    flex-direction: column;
}

.xui-form>.xui-form-input>.xui-form-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.xui-form-item>label{
    margin-bottom: 5px;
}

.xui-form-item>input{
    height: 30px;
    text-indent: 5px;
}

.xui-form-item>textarea{
    resize: none;
    padding: 5px;
    height: 100px;
}

.xui-form>.xui-form-button{
    border-top: 1px solid;
}

.xui-form>.xui-form-button>input{
    height: 40px;
    flex: 1 1 0;
    background-color: #fff;
    border: 1px solid #000;
}

.xui-form>.xui-form-button>input:not(:nth-child(1)){
    margin-left: 10px;
}

.xui-form-group{
    flex-wrap: wrap;
}

.xui-form-group-item{
    display: flex;
    align-items: center;
    margin-right: 28px;
    font-size: 14px;
    padding: 5px 0;
}

.xui-form-group-item>input{
    margin: 0;
    margin-right: 5px;
}