body{
    margin: 0;
    padding: 0;
}

.xui-100-100{
    width: 100vw;
    height: 100vh;
}

.xui-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.xui-flex-column{
    flex-direction: column;
}

.xui-form{
    width: 400px;
    border-radius: 3px;
    box-shadow: 2px 5px 10px 2px grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.xui-form>input[type=text]{
    margin: 5px 0;
    height: 25px;
}

.xui-form>input[type=submit]{
    margin: 20px 0;
    height: 50px;
}