<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <form class="xui-form">
        <div class="xui-form-title">
            <h1>Form</h1>
        </div>

        <div class="xui-form-input">
            <div class="xui-form-item">
                <label for="test">Text</label>
                <input type="text" id="test" maxlength="10">
            </div>

            <div class="xui-form-item">
                <label for="test">Password</label>
                <input type="password" maxlength="100">
            </div>

            <div class="xui-form-item">
                <label for="test">Radio</label>
                <input type="radio">1
                <input type="radio">2
                <input type="radio">3
                <input type="radio">4
            </div>

            <div class="xui-form-item">
                <label for="test">Checkbox</label>
                <input type="Checkbox">1
                <input type="Checkbox">2
                <input type="Checkbox">3
                <input type="Checkbox">4
            </div>

            <div class="xui-form-item">
                <label for="test">Textarea</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="xui-form-button">
            <input type="submit">
            <input type="reset">
        </div>
    </form>
</body>
</html>